<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tailwind Traders-Categoria</title>
    <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/materialize.min.css"  media="screen,projection"/>
</head>
<body>
<div class="container">
    <div class="row">
         <div class="col s6">
            <h1 >Cadastro de Categorias</h1>
       </div>
         <div class="col s6">
            <img src="https://uploaddeimagens.com.br/images/003/477/013/full/BillyGates.PNG?1634055109" alt="billygates">
        </div>
    </div>

<form action="salvarcategoria" method="post" th:object="${categoriaobj}">
    <label>ID</label>
    <input name="id" th:field="*{id}" readonly="readonly">
    <label>Nome</label>
    <input name="nome" th:field="*{nome}">
    <input class="waves-effect light-blue darken-3 btn" type="submit" value="Salvar">
</form>
    <a href="/">Home</a><br>
    <a href="/listacategorias">Lista de Categorias</a><br>
    <a href="/cadastrofornecedor">Cadastrar um fornecedor</a>


<table>
    <tr th:each= "categoria : ${categorias}">
        <td th:text="${categoria.id}"></td>
        <td th:text="${categoria.nome}"></td>
        <td><a th:href="@{/editarcategoria/{idcategoria}(idcategoria=${categoria.id})}">Editar</a></td>
        <td><a th:href="@{/excluircategoria/{idcategoria}(idcategoria=${categoria.id})}">Excluir</a></td>

    </tr>

</table>

<script type="text/javascript" src="static/materialize/js/materialize.js"></script>
<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</div>
</body>
</html>