<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tailwind Traders</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="materialize.min.css"  media="screen,projection"/>

</head>
<body>
<div class="container">
    <div class="center-align">
        <img src="https://uploaddeimagens.com.br/images/003/477/015/full/logoTailwind1.png?1634055261" alt="logo-tailwind">
    </div>

    <div class="center">
        <a class="waves-effect light-blue darken-3 btn" href="/cadastrocategoria">Cadastro Categoria</a><br><br>
        <a class="waves-effect light-blue darken-3 btn"  href="/cadastrofornecedor">Cadastro Fornecedor</a>
    </div>





<script type="text/javascript" src="static/materialize/js/materialize.js"></script>
<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</div>
</body>
</html>